<div class="example-container mat-elevation-z8 md:block xs:hidden">
  <table matSort mat-table [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" sticky>
      <th mat-header-cell *matHeaderCellDef style="padding: 0">
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="padding: 0">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container
      *ngFor="let col of tableColumns"
      matColumnDef="{{ col.columnDef }}"
      [sticky]="col.isSticky"
      [stickyEnd]="col.isStickyEnd"
    >
      <!-- Header -->
      <th mat-header-cell *matHeaderCellDef>
        <ng-container *ngIf="col.sortable; else normalHeader">
          <span mat-sort-header>{{ col.header }}</span>
        </ng-container>

        <ng-template #normalHeader>
          {{ col.header }}
        </ng-template>
      </th>

      <!-- Cell -->
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="col.isType">
          <span class="flex-item gap-1">
            <div
              class="leave-status-circle"
              [ngClass]="getTypeLeaveColor(col.cell(element))"
            ></div>
            <span>{{ col.cell(element) }}</span>
          </span>
        </ng-container>

        <ng-container *ngIf="col.isStatus">
          <span class="flex-item gap-1">
            <mat-icon
              class="status-icon"
              [ngClass]="getStatusConfig(col.cell(element)).color"
            >
              {{ getStatusConfig(col.cell(element)).icon }}
            </mat-icon>
            <span [ngClass]="getStatusConfig(col.cell(element)).color">
              {{ col.cell(element) }}
            </span>
          </span>
        </ng-container>

        <ng-container *ngIf="col.columnDef === 'reason'">
          <span class="truncate max-w-[250px]">
            {{ col.cell(element) }}
          </span>
        </ng-container>

        <ng-container
          *ngIf="
            col.columnDef !== 'type' &&
            col.columnDef !== 'reason' &&
            col.columnDef !== 'status'
          "
        >
          <span>
            {{ col.cell(element) }}
          </span>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- No data display -->
  <div *ngIf="noData" class="py-[14px] px-[26px]">No data to display</div>
  <div class="seperate"></div>
</div>

<div class="bg-white md:block xs:hidden">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="showFirstLastButtons"
  >
  </mat-paginator>
</div>

<!-- Card -->
<div class="md:hidden xs:block px-3">
  <div class="py-3" *ngIf="noData">No data to display</div>
  <app-mobile-list *ngIf="!noData" [tableData]="filteredWithDateData" />
</div>
