<div class="bg-white md:p-3 rounded-sm">
  <app-group-filter
    (dateRangeChange)="updateDateRange($event)"
    (selectedValuesChange)="onGroupFilterValuesChange($event)"
  />
  <div class="md:overflow-visible xs:overflow-y-auto max-h-[490px]">
    <!-- <app-data-table
      [fromDate]="fromDate"
      [toDate]="toDate"
      [selectedValues]="selectedValuesFromGroup"
    /> -->
    <app-table
      [tableColumns]="tableEmployeeColumns"
      [tableData]="listEmployee"
      [fromDate]="fromDate"
      [toDate]="toDate"
      [selectedValues]="selectedValuesFromGroup"
    />
  </div>
</div>
