<div class="group-filter">
  <!-- Filter By -->
  <div class="lg:min-w-[320px] sm:w-full input-group">
    <app-multi-filter (selectedValuesChange)="onSelectedValuesChange($event)" />
  </div>

  <!-- Period -->
  <div class="input-group">
    <span class="text-span">Period</span>

    <!-- Dropdown-select Component -->
    <app-dropdown-select
      [items]="PeriodTypes"
      [selectedItem]="PeriodTypes[0].value"
      (selectionChange)="onPeriodChange($event)"
    />
  </div>

  <div class="group-date">
    <!-- From Date -->
    <div class="input-group flex-1">
      <span class="text-span">From Date</span>
      <div>
        <input
          class="w-full"
          placeholder="From Date"
          disabled="disabled"
          matInput
          [matDatepicker]="picker1"
          [(ngModel)]="fromDate"
          [disabled]="!isCustom"
          (dateChange)="onDateChange()"
          (click)="isCustom && picker1.open()"
        />
        <mat-datepicker #picker1></mat-datepicker>
      </div>
    </div>

    <!-- To Date -->
    <div class="input-group flex-1">
      <span class="text-span">To Date</span>
      <div>
        <input
          class="w-full"
          placeholder="To Date"
          matInput
          [matDatepicker]="picker2"
          [(ngModel)]="toDate"
          [disabled]="!isCustom"
          (dateChange)="onDateChange()"
          (click)="isCustom && picker2.open()"
        />
        <mat-datepicker #picker2></mat-datepicker>
      </div>
    </div>
  </div>
</div>
